.board {
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  text-align: center;
  width: 50%;
  height: 50%;
  border-collapse: separate;
  border-spacing: 3rem;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .board {
    border-spacing: 2rem;
  }
}
